html {
	font-size: 62.5%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.imagenDeFondo {
	background-image: url(../Imagenes/fondo.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 3rem;
	flex-wrap: wrap;
}

.header{
	@include colorfondo(colors);
	background-color: (colors);
}

.navegador {
	ul {
		display: flex;
		list-style: none;
		margin: auto;
		font-size: 2.4rem;
		margin: 1rem;
		flex-wrap: wrap;
	}
	li {
		a {
			text-decoration: none;
			color: $color3;
			padding: 2rem;
            
			&:hover {
				background-color: $bg-color;
			}
		}

		display: inline-block;
		text-align: center;
	}
}
.parrafos {
	h1 {
		color: $color3;
		font-size: 4rem;
		text-align: center;
		font-family: $tipografia1;
	}
	p {
		font-size: 2rem;
		font-family: $tipografia2;
		text-align: center;
		color: $color2;
	}
}

span {
	color: $color2;
}

	input {
			font-size: 2rem;
			display: block;
			margin: 2rem;
		}

textarea {
	font-size: 2rem;
}

.Formularios {
	@extend %disposicion;
	flex-direction: column;
	margin: 5rem 4rem;
	flex-wrap: wrap;
}

.boton{
	padding: 0.7rem 5rem;
	margin-top: 1rem;
	font-size: 1.5rem;
	background-color: $color1;
	font-family: $tipografia2;
		&:hover{
			background-color: $color2;

		}border-radius: map-get($borde, border-r );
		
} 

.pieDePagina {
	@extend %disposicion;
	font-size: 2rem;
	color: $color4;
	flex-direction: column;
	background-color: $bg-color1;
	flex-wrap: wrap;
	margin-top: 1rem;
	font-family: $tipografia1;
}
i {
	color: $color4;
	font-size: 2.5rem;
}