html {
	font-size: 62.5%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*
.imagenDeFondo {
	background-image: url(../Imagenes/fondo.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
	*/

	body{
		background-color: rgb(238, 227, 238);
	}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 3rem;
	flex-wrap: wrap;
	background-color:white;
}

.header{
	@include colorfondo(colors);
	background-color: (colors);
}

.navegador {
	ul {
		display: flex;
		list-style: none;
		margin: auto;
		font-size: 2.4rem;
		margin: 1rem;
		flex-wrap: wrap;
	}
	li {
		a {
			text-decoration: none;
			color: $color4;
			padding: 2rem;
            
			&:hover {
				background-color: grey;
			}
		}

		display: inline-block;
		text-align: center;
	}
}
.parrafos {
	padding-bottom: 2rem;
	h1 {
		color: $color3;
		padding: 4rem 0;
		font-size: 3.5rem;
		text-align: center;
		justify-content: center;
		font-family: $tipografia1;
		color: rgba(7, 7, 125, 0.707);
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
	}
	p {
		font-size: 2rem;
		font-family: $tipografia2;
		text-align: center;
		color: $color2;
	}
}



form {
	width: 59rem;
	margin: auto;
	margin-top: 4rem;
	background-color: rgba(0, 0, 0, 0.561);
	padding: 3rem 4rem;
	box-sizing: border-box;
	border-radius: 1rem;
	box-shadow: 2rem 2rem 6rem 1rem;
}
h2 {
	color: rgba(0, 0, 0, 0.561);
	font-size: 3rem;
	text-align: center;
	justify-content: center;
	margin-bottom: 0.8rem;
}
input {
	width: 50rem;
	margin-bottom: 2rem;
	font-size: 2rem;
	padding: 1rem;
	border: none;
}
textarea {
	width: 50rem;
	margin-bottom: 2rem;
	font-size: 2rem;
	padding: 1rem;
	border: none;
	min-height: 10rem;
	max-height: 20rem;
	max-width: 50rem;
}
#boton {
	background-color:rgb(172, 18, 115);;
	color: $color4;
	transition: all 1s;
    box-shadow: inset 0 0 2rem 0;
	&:hover {
		background-color: $color2;
		color: white;
		cursor: pointer;
	}border-radius: map-get($borde, border-r );
}


.wsp{ color: green;
    position: fixed;
    right: 4rem;
    bottom: 3rem;
    transition: all 1s;

	i{
		color: green;
		font-size: 7rem;
	}
	&:hover{
		transform: scale(1.3);
	}

}

.pieDePagina {
	@extend %disposicion;
	font-size: 2rem;
	color: $color4;
	flex-direction: column;
	background-color: $bg-color1;
	flex-wrap: wrap;
	margin-top: 1rem;
	font-family: $tipografia1;
}
i {
	color: $color4;
	font-size: 2.5rem;
}

@media screen and (max-width: 768px){

	form{
		flex-wrap: wrap;

	}

	h1{
		text-align: center;
		justify-content: center;
		flex-wrap: wrap;
	}
}

